html {
    font-size: 16px; 
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 29px;
    text-align: center;

  }
h2 {
  font-size: 29px;
  color:#0c8e9c;
  word-wrap: break-word;
  text-decoration: underline;
  border-left: 4px solid #0c8e9c;
  padding: 10px;
}
h3 {
  padding-left: 10px;
  margin: 0px;

  color: #414141;
  font-weight: bold;
  font-size: 18px; 


}
a {
  color: #3bb0e6;
}

.parent {
  margin-left: 25%;


}
.child {
  display: inline-block;
  vertical-align: top;
  
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.section {
  margin-left: 25%;
  margin-right: 25%;


}
img { 
  display: inline-block;
  vertical-align: top;
  width: 15%; 
  margin: 10px;
} 

p {
  color: #414141;
  padding-left: 10px;
  padding-top: 0px;
  margin-top: 0px;


}
ul {
  display: inline-block;

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-style: solid;
  border-color: #0c8e9c;
  width: 60%;
}

li {
  display: inline-block;

}

li a {
  display: block;
  color: #0c8e9c;
  text-align: center;
  padding: 0px 8px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #0c8e9c;
  color: white;
}
img {
  border-style: solid;
  border-color: #0c8e9c;
  padding: 5px;
}
