html {
    font-size: 16px; 
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 32px;
    text-align: center;
  }
a {
color: rgb(65, 174, 224);
}
hr.dashed {
    border: 0;
	border-top: 2px dashed #979899;
    width: 30%;
  }